@charset "UTF-8";
/* CSS Document */
h2{
	width: 100%;
	margin-bottom: 0.5em;
}
.section-container.tabs section.active, .section-container.tabs .section.active{
	padding-top: 2.55em!important;
	width: 100%;
}
.section-container.tabs section.active .content, .section-container.tabs .section.active .content{
	overflow:hidden;
	background-color: #0073a9;
	top:0.8em;
	padding: 0 0.3em 0.5em 0.5em;
	-webkit-border-radius: 0 0 5px 5px;
    border-radius: 0 0 5px 5px;
    border-color: #0073a9;
}
.section-container.tabs section .title, .section-container.tabs .section .title{
	background-color:#88afc0;
	-webkit-border-radius: 3px;
    border-radius: 3px;
    width: 33.5%;
}
.section-container.tabs section.active .title, .section-container.tabs .section.active .title{
	background-color: #ff0023;	
}
.section-container section .title a, .section-container .section .title a, .section-container.auto section .title a, .section-container.auto .section .title a{
		color:#ffffff;
		text-align: center;
}

.content table{
	width: 100%;
	border:none;
	vertical-align: middle;
	text-align: center;
}
.content table thead{
	background-color: #0073a9;
}
.content table thead th{
	color:#fff;
	text-align: center;
}
.content table img{
	width:50%;
}
.content table td, .content table thead th{
	width: 12.5%;
	border: 1px solid #0073a9;
	padding: 0;
}
.content table td.flag, .content table thead th.flag{
	width:32%;
	padding: 0.5em;
}
.content table td{
	background-color:#e0ebef;
	
}
.content table p{
	margin:7% 0 0;
	width: 50%;
}
.content ul{
	overflow: hidden;
	width: 100%;
}

.content ul li{
	background-color:#e0ebef;
	list-style: none;
	float: left;
	text-align:center;
	width: 12.4%;
	padding: 1% 0 0;
	margin:0 1% 0 0;
	color:#58585a;
	min-height:3em;
}
.content ul{
	margin: 0 0 0.3em;
}
.content ul.header li {
	background-color: #0073a9;
	color:#fff;
}
.content ul li.flag{
	width:32%;
	text-align: left;
	padding-left: 2%;
	color:#000;
}
.content ul li.flag img{
	width:40%;
}
.content ul li.flag p{
	margin:0 10% 2% 0;
}
.content ul li a{
	width: 100%;
}
.disclaimer{
	font-size: 0.750rem;
	font-style: italic;
	text-align: center;
	color:#58585a;
}
@media only screen and (min-width: 48em) {
	.content table p{
	margin:10% 0 0;
}
}
/*JORNADAS*/
.section-container section .title, .section-container .section .title, .section-container.auto section .title, .section-container.auto .section .title{
	background-color: #88afc0;
	-webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
}
.section-container section.active .title, .section-container .section.active .title, .section-container.auto section.active .title, .section-container.auto .section.active .title{
	background-color: #0073a9;
}
.section-container section .title:hover,
.section-container .section .title:hover, .section-container.auto section .title:hover,
.section-container.auto .section .title:hover {
        background-color: #0073a9;}
.section-container section .content, .section-container .section .content, .section-container.auto section .content, .section-container.auto .section .content{
	background-color: #0073a9;
}
.section-container.accordion section .title a, .section-container.accordion .section .title a, .section-container.accordion.auto section .title a, .section-container.accordion.auto .section .title a{
	padding:0.1em;
}
.section-container section.active .content{
	-webkit-border-radius: 0 0 5px 5px;
    border-radius: 0 0 5px 5px;
}
.section-container section.active .title{
	-webkit-border-radius: 5px 5px 0 0;
    border-radius: 5px 5px 0 0;
}
.accordion {
	border:none;
}
.accordion section{
    border: medium none;    
    margin: 0.2em 0;
}
.accordion .content ul{
	background-color: #e0eaef;
	margin: 0 0 0.5em;
}
.accordion .content ul ul{
	margin: 0;
}
.accordion .content ul li{
	width: 33.3%;
	margin: 0;
	color:#000;
}
.accordion .content ul li img{
	width: 50%;
	margin: 0 5% 0.5em;
}
.accordion .content ul li.flag{
	padding-top: 1em;
}
.accordion .content ul li ul li{
	background-color: #FFFFFF;
    color: #5AA5C7;
    margin: 0;
    min-height: 2em;
    width: 29%;
    white-space: nowrap;
}
.accordion .content ul li ul li.date{
	width: 69%;
}
.accordion .content ul li ul li.divider{
	border-right: 1px solid #5AA5C7;
    margin-top: 0.4em;
    min-height: 1.3em;
    width: 1%;
}
.accordion .content ul li ul.gray{
	width: 70%;
	margin: 0 auto;
}
.accordion .content ul li ul.gray li{
	background-color: #869AA3;
    color: #FFFFFF;
    margin-left: 1%;
    min-height: 2em;
    width: 49%;
}
.accordion .active a{
	background: url("../images/arrow_down.png") no-repeat scroll 96% 0.5em transparent;
}

/****FINAL****/
.final .row .row ul{
	margin: 0 auto 0.5em;
	padding: 0.5em 0.5em 0;
    text-align: center;
}
.final .row .row ul li{
	padding: 0 0 0 12%;
	font-size: 60%;
}
.final ul li.number{
	padding: 0;
	font-size: 50%;
}
.final .firstPlace ul {
	border:1px solid #ffce00;
    width: 28%;
}

.final .firstPlace ul li.number{
	background-color:#ffce00;
	padding: 0;
}

.final .secondPlace .n1 ul {
	border:1px solid #a7a9ac;
    width: 73%;
    float: right;
}
.final .secondPlace .n1 .number{
	background-color:#a7a9ac;
}
.final .secondPlace .n2 ul {
	border:1px solid #b98177;
    width: 73%;
    float: left;
}
.final .secondPlace .n2 .number{
	background-color:#b98177;
}
.final .places{
	width: 100%;
}
.final .places div{
	padding-left: 1.5em;
    padding-right: 0;
}
.final .places ul {
	width: 100%;
	padding: 0;
}
.final .places .number{
	background-color:#88afc0;
}
@media only screen and (min-width: 30em) {
.final .row .row ul li{
	font-size: 80%;
}
.final .row .row ul li.number{
	font-size: 80%;
}
}
@media only screen and (min-width: 48em) {
	.final .firstPlace, .final .secondPlace, .final .places {
	margin-bottom: 5%;
	}
	.final .row .row ul li{
		font-size: 100%;
	}
	.final ul li.number{
		font-size: 100%;
	}
	.final .firstPlace ul {
		width: 50%;
		
	}
	.final .secondPlace .n1 ul, .final .secondPlace .n2 ul {
		width: 100%;
	}
}