@charset "UTF-8";
/* CSS Document */

.section-container.tabs section.active, .section-container.tabs .section.active{
	padding-top: 2.65em;
	width: 100%;
}
.section-container.tabs section.active .content, .section-container.tabs .section.active .content{
	overflow:hidden;
	background-color: #0073a9;
	top:0.8em;
	padding: 0 0.3em 0.5em 0.5em;
	-webkit-border-radius: 0 0 5px 5px;
    border-radius: 0 0 5px 5px;
    border-color: #0073a9;
}
.section-container.tabs section .title, .section-container.tabs .section .title{
	background-color:#88afc0;
	-webkit-border-radius: 3px;
    border-radius: 3px;
    width: 33.5%;
}
.section-container.tabs section.active .title, .section-container.tabs .section.active .title{
	background-color: #ff0023;	
}
.section-container section .title a, .section-container .section .title a, .section-container.auto section .title a, .section-container.auto .section .title a{
		color:#ffffff;
		text-align: center;
}
.firstRound .section-container p, .firstRound{

}
.content ul{
	overflow: hidden;
	width: 100%;
}

.content ul li{
	background-color:#e0ebef;
	list-style: none;
	float: left;
	text-align:center;
	width: 12.4%;
	padding: 1% 0 0;
	margin:0 1% 0 0;
	color:#58585a;
	min-height:3em;
}
.content ul{
	margin: 0 0 0.3em;
}
.content ul.header li {
	background-color: #0073a9;
	color:#fff;
}
.content ul li.flag{
	width:32%;
	text-align: left;
	padding-left: 2%;
	color:#000;
}
.content ul li.flag img{
	width:40%;
}
.content ul li.flag p{
	margin:0 10% 2% 0;
}
.content ul li a{
	width: 100%;
}
@media only screen and (min-width: 30em) {
	.content ul li.flag{
		min-height:3em;
	}
}
@media only screen and (min-width: 35em) {
	.content ul li{
		min-height:3.5em;
	}
	.content ul li.flag{
		min-height:2.5em;
	}
}
@media only screen and (min-width: 48em) {
	.content ul li{
		min-height:3em;
	}
	.content ul li.flag{
		min-height:3em;
	}
}
/*JORNADAS*/
.section-container section .title, .section-container .section .title, .section-container.auto section .title, .section-container.auto .section .title{
	background-color: #88afc0;
}
.section-container section.active .title, .section-container .section.active .title, .section-container.auto section.active .title, .section-container.auto .section.active .title{
	background-color: #0073a9;
}
.section-container section .title:hover,
.section-container .section .title:hover, .section-container.auto section .title:hover,
.section-container.auto .section .title:hover {
        background-color: #0073a9;}
.section-container section .content, .section-container .section .content, .section-container.auto section .content, .section-container.auto .section .content{
	background-color: #0073a9;
}
.section-container.accordion section .title a, .section-container.accordion .section .title a, .section-container.accordion.auto section .title a, .section-container.accordion.auto .section .title a{
	padding:0.5em;
}
.accordion .content ul{
	background-color: #e0eaef;
}
.accordion .content ul li{
	width: 33.3%;
	margin: 0;
	color:#000;
}
.accordion .content ul li img{
	width: 30%;
	margin: 0 5%;
}
.accordion .content ul li ul li{
	background-color: #FFFFFF;
    color: #5AA5C7;
    margin: 0;
    min-height: 2em;
    width: 50%;
    white-space: nowrap;
}
.accordion .content ul li ul.gray{
	width: 70%;
	margin: 0 auto;
}
.accordion .content ul li ul.gray li{
	background-color: #869AA3;
    color: #FFFFFF;
    margin-left: 1%;
    min-height: 2em;
    width: 49%;
}