@charset "UTF-8";
/* CSS Document */
.top-bar {
    background: none repeat scroll 0 0 #83C1DC;
}
.top-bar .name h1 a, .top-bar .title-area {
	width:100%;
}

.side-nav{
	width:90%;
	margin:0 auto;
	text-align:center;
}
.side-nav li a, .side-nav li.active a, .side-nav li a:hover{
	font-weight: normal;
	color:#CCC;
}
.side-nav li a.radius{
	background-color: transparent;
	border-color: #BBBBBB;
}
.side-nav li.active a.radius, .side-nav li.active a.radius span{
	background-color: #83c1dc;
	border-color: #83c1dc;
	color:#ffffff;
}
.side-nav a span{
	color:#2BA6CB;
	display:block;
	padding:0 0 2%;
	text-decoration: underline;
}

@media all and (min-width:800px) {
	.side-nav li {
		float: left;
	    margin: 0 5% 0 0;
	    width: 45%;
	}
}